<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">

    <title>Create Vacant</title>
</head>
<body>
<header th:insert="fragments/menu :: principal-menu"></header>
<main role="main">
    <hr>
    <div class="container">
        <div class="card">
            <h4 class="card-header"><strong>Datos de la oferta de trabajo</strong></h4>
            <div class="card-body">
                <form th:action="@{/vacants/save}" method="post">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" id="description" name="description">
                    </div>
                    <div class="form-group">
                        <label for="categoryFormControl">Category</label>
                        <select class="form-control" id="categoryFormControl">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="statusFormControl">Status</label>
                        <select class="form-control" id="statusFormControl" name="status">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="date">Publication date</label>
                        <input type="text" class="form-control" name="publicationDate" id="date"
                               placeholder="Publication date" required="required">
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="highlighted" id="highlighted1"
                                   value="1" checked>
                            <label class="form-check-label" for="highlighted1">
                                Highlighted
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="highlighted" id="highlighted2"
                                   value="0">
                            <label class="form-check-label" for="highlighted2">
                                Non highlighted
                            </label>
                        </div>
                    </div>
                    <div class="input-group">
                        <input type="text" class="form-control"
                               aria-label="Dollar amount (with dot and two decimal places)" name="salary">
                        <div class="input-group-append">
                            <span class="input-group-text">$</span>
                            <span class="input-group-text">0.00</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="imageFile">Image</label>
                        <input type="file" class="form-control-file" id="imageFile">
                    </div>
                    <div class="form-group">
                        <label for="details">Details</label>
                        <textarea class="form-control" id="details" rows="5" name="details"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:insert="fragments/footer :: footer" class="footer"></footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/tinymce/tinymce.min.js}"></script>
<script>
    $(function () {
            $("#date").datepicker({dateFormat: 'dd-mm-yy'});
        }
    );
</script>
</body>
</html>